<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>看板工具</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- build:css css/app.css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="bower_components/jquery-ui/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="bower_components/humane/themes/flatty.css"/>
  <link rel="stylesheet" href="app.css">
  <!-- endbuild -->
</head>
<body>
  <nav class="navbar navbar-default" ng-controller="TitleCtrl">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="javascript:void(0);">kanban</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="#/task">任务</a></li>
          <li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">维护 <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#/user">用户</a></li>
              <li role="presentation" class="divider"></li>
              <li><a href="#/project">项目</a></li>
              <li><a href="#/version">版本</a></li>
              <li><a href="#/iteration">迭代</a></li>
              <li role="presentation" class="divider"></li>
              <li><a href="#/story">故事</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">报表 <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#/burndown">迭代燃尽图</a></li>
              <li><a href="#/progress">故事进度</a></li>
              <li><a href="#/statistic">工时统计</a></li>
            </ul>
          </li>
        </ul>
        <p class="navbar-text navbar-right"><a href="javascript:void(0);" class="navbar-link" ng-click="logout()">注销</a></p>
        <p class="navbar-text navbar-right">welcome，<a href="javascript:void(0);" class="navbar-link" ng-bind="username"></a></p>
        <div class="message-center-container pull-right" style="position: relative;">
          <span class="glyphicon glyphicon-envelope" aria-hidden="true" style="margin-top: 18px;cursor: pointer;" ng-click="toggleMessageCenter($event)"></span>
          <div id="message-center" class="popover fade bottom in" style="width: 300px;top: 35px;left: -131px;">
            <div class="arrow"></div>
            <h3 class="popover-title" id="popover-bottom">消息中心<a class="anchorjs-link" href="#popover-bottom"><span class="anchorjs-icon"></span></a></h3>

            <div class="popover-content" style="padding: 0;">
              <ul class="list-group">
                <li class="list-group-item" ng-repeat="message in messageList">{{message.content}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div class="container-fluid" ng-view></div>
  <!-- build:js js/app.js -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="bower_components/humane/humane.js"></script>
  <script src="bower_components/jquery-ui/jquery-ui.js"></script>
  <script src="bower_components/jquery-ui/ui/i18n/datepicker-zh-CN.js"></script>
  <script src="bower_components/echarts/build/dist/echarts.js"></script>
  <script src="bower_components/echarts/build/dist/chart/line.js"></script>
  <script src="app.js"></script>
  <script src="views/login/login.js"></script>
  <script src="views/task/task.js"></script>
  <script src="views/user/user.js"></script>
  <script src="views/project/project.js"></script>
  <script src="views/version/version.js"></script>
  <script src="views/iteration/iteration.js"></script>
  <script src="views/story/story.js"></script>
  <script src="views/burndown/burndown.js"></script>
  <script src="views/progress/progress.js"></script>
  <script src="views/statistic/statistic.js"></script>
  <script src="components/authentication.js"></script>
  <script src="components/config.js"></script>
  <!-- endbuild -->
</body>
</html>
