<div class="page-header">
  <strong class="page-header-title">迭代燃尽图</strong>
  <form class="form-inline pull-right" style="margin-top: -10px;">
    <div class="form-group">
      <label>版本</label>
      <select id="version-select" class="form-control" ng-model="versionId">
        <option value="{{version.id}}" ng-repeat="version in versionList">{{version.project.name}}->{{version.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label>迭代</label>
      <select id="iteration-select" class="form-control" ng-model="iterationId">
        <option value="{{versionTag}}">全部</option>
        <option value="{{iteration.id}}" ng-repeat="iteration in iterationList">{{iteration.name}}</option>
      </select>
    </div>
  </form>
</div>
<div id="main" style="height:500px;width: 100%;margin: 0 auto;"></div>